{% extends '_base.html' %}

{% block page_title %}
    Register
{% endblock %}

{% block content %}
    <div class="container mt-5 border border-dark">
        <h2>Signup</h2>
        <form method="POST" class="container mt-5"  action="">
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.username(class='form-control', placeholder='Username') }}
                {% if form.username.errors %}
                    <ul class="alert alert-danger">{% for error in form.username.errors %} <li>{{ error }}</li> {% endfor %} </ul>
                {% endif %}
            </div>
            <br>
            <div class="mb-3">
                {{ form.email(class='form-control', placeholder='Email') }}
                {% if form.email.errors %}
                    <ul class="alert alert-danger">{% for error in form.email.errors %} <li>{{ error }}</li> {% endfor %} </ul>
                {% endif %}
            </div>
            <br>
            <div class="mb-3">
                {{ form.password(class='form-control', placeholder='Password') }}
                {% if form.password.errors %}
                    <ul class="alert alert-danger">{% for error in form.password.errors %} <li>{{ error }}</li> {% endfor %} </ul>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary mb-3">Signup</button>
            <span>|</span>
            <a href="{{ url_for ('login')}}">Do you have a account?</a>
        </form>
    </div>
{% endblock %}